* {
  font-family: sans-serif;
}

textarea {
  resize: none;
  padding-left: .4em;
  height: 1.2em;
  float: right;
}

#view-another-account {
  margin-top: 1em;
}

.output-field {
  max-width: 25em;
  margin: .3em;
}
